@charset "utf-8";
CSS Document * {
  padding: 0;
  margin: 0;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
html {
  visibility: hidden;
}
html.wf-active, html.loading-delay {
  visibility: visible;
}
img {
  border: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
p {
  letter-spacing: 0.08em;
  line-height: 2;
}
h1 {
  font-size: 1.4em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
}
h3 {
  font-size: 2.0em;
  font-family: 'p22-flw-exhibition', sans-serif;
  font-weight: 1000;
  border-bottom: double 8px #1B7330;
}
h2, h4 {
  font-size: 1.4em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
}
/*****************************/
body {
  font-size: 1.6em;
  margin: 0;
}
footer {
  position: relative;
  width: 90%;
  margin: 0 auto;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  font-size: 1em;
}
footer nav {
  position: absolute;
  right: 2%;
  top: 0;
  width: 25%;
}
#pageTop {
  position: fixed;
  bottom: 4%;
  right: 2%;
  z-index: 9999;
}
#pageTop i {
  padding-top: 10px
}
#pageTop a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #1B7330;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
#pageTop a:hover {
  text-decoration: none;
  opacity: 0.7;
}
/*****************************/
/*ここからnav*/
/*****************************/
nav {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #000;
}
nav ul li a:hover {
  color: #767676;
}
/*ここからtopnav↓↓↓↓↓↓*/
.mainvisual {
  width: 100%;
  padding-bottom: 35%;
  background-image: url("../image/logoset.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.topnav {
  float: right;
  width: 40%;
  padding: 2% 2% 0 0;
}
.topnav ul {
  margin: 0;
}
.clone-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  transition: .3s;
  transform: translateY(-100%);
  border-top: none;
  border-bottom: solid 3px #e2dfa2;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1% 0;
}
.clone-nav ul {
  width: 58%;
  margin: 0 auto;
}
.is-show {
  transform: translateY(0);
}
/*ここからnav共通部分↓↓↓↓↓↓*/
.subnav {
  width: 100%;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: .3s;
}
.subnav nav ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;
}
.subnav nav ul li a:hover {
  color: #767676;
}
/*ここからaboutnav-ロゴ無-↓↓↓↓↓↓*/
.subheader {
  background-color: rgba(27, 115, 48, 0.8);
}
.subheader nav {
  float: right;
  width: 40%;
}
.is-animation, .lg-animation {
  width: 100%;
  border-top: none;
  border-bottom: solid 3px #e2dfa2;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.5);
}
.is-animation nav {
  width: 58%;
  margin: 0 auto;
}
/*ここからcontactnav-ロゴ有-↓↓↓↓↓↓*/
/*.logoheader {
  background-color: #fff;
}*/
.logoheader h2 {
  margin: 0;
  text-align: center;
}
.logoheader nav {
  margin: 0 auto;
  width: 40%;
  text-align: center;
}
.lg-animation h2 {
  display: none;
}
.lg-animation nav {
  width: 40%;
  margin: 0 auto;
  padding: 1% 0;
}
.lg-animation nav ul {
  margin: 0;
}
/*****************************/
/*ここからindex*/
/*****************************/
.work {
  margin: 0 auto;
  text-align: center;
}
.work {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.work > p {
  margin: 0 auto;
  width: 15%;
  font-size: 2.0em;
  font-family: 'p22-flw-exhibition', sans-serif;
  font-weight: 1000;
  border-bottom: double 8px #1B7330;
}
.work h4 {
  width: 17%;
  margin: 0 auto 2%;
}
.work section {
  padding: 3% 0 8%;
}
.web > div {
  margin-bottom: 2%;
}
.pp {
  display: flex;
  justify-content: space-around;
}
/*ここからmoreボタン*/
.btn2 {
  display: inline-block;
  width: 100px;
  text-align: center;
  background-color: #e2dfa2;
  border: 2px solid #1B7330;
  color: #1B7330;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  position: relative;
}
.btn2 span {
  position: relative;
  z-index: 1;
}
.btn2::before, .btn2::after {
  content: "";
  display: block;
  background-color: #FFF;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}
.btn2::before {
  left: 0;
}
.btn2::after {
  right: 0;
}
.btn2:hover:before, .btn2:hover:after {
  width: 0;
  background-color: #FFF;
}
.btn2:hover {
  color: #FFF;
  border: 2px solid #e2dfa2;
}
.morebtn {
  padding-top: 5%;
}
/*****************************/
/*ここからabout*/
/*****************************/
.abmain h3 {
  width: 13%;
  margin: 0 auto;
  text-align: center;
  padding: 8% 0 0;
  margin-bottom: 3%;
}
.pr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}
.skill {
  display: flex;
  justify-content: space-around;
  width: 65%;
  text-align: center;
  margin: 0 auto;
  padding-top: 4%;
}
.abmain section:nth-child(3) {
  position: relative;
}
.abmain section:nth-child(3) > p {
  position: absolute;
  bottom: 0.5%;
  right: 33.5%;
}
.abmain section:nth-child(n+2) h4 {
  width: 12%;
  background: linear-gradient(transparent 80%, rgba(27, 115, 48, 0.7) 80%);
  text-align: center;
  margin: 0 auto;
  padding-top: 4%;
}
.abmain section:last-child p {
  width: 40%;
  margin: 0 auto;
  padding: 2% 0 10%;
}
/*****************************/
/*ここからcontact*/
/*****************************/
.contact h3 {
  width: 13%;
  margin: 0 auto;
  text-align: center;
  padding: 22% 0 0;
  margin-bottom: 3%;
}
.contact div {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}
input[type='text'] {
  width: 100%;
  max-width: 400px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
textarea {
  width: 100%;
  height: 300px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type='submit'] {
  border: none;
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  margin: 0 auto;
}
/*****************************/
/*ここからworkweb*/
/*****************************/
.work_info {
  padding-bottom: 5%;
}
.work_info h4 {
  padding: 17% 0 0;
  text-align: center;
}
/*cochicoffeeの部分*/
.coffee {
  width: 100%;
  padding: 2% 0;
  text-align: center;
  background-color: #e2dfa2;
}
.coffee > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}
.coffee dl {
  text-align: left;
}
.cc {
  width: 50%;
}
.cc p:first-child {
  text-align: center;
}
.coffeeflow p:last-child {
  padding: 8% 0% 5% 20%;
  background: red;
}
.coffeeflow_2 p:last-child {
  padding: 3% 0% 5% 20%;
  background: #0000FF;
}
/*ここまでcochicoffee*/
.work_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 5% 0%;
  text-align: center;
  background-color: #e2dfa2;
}
.work_box h5 {
  width: 40%;
  margin-left: 5%;
}
.work_box img {
  max-width: 100%;
}
.work_box div {
  width: 48%;
  text-align: left;
  margin-right: 5%;
}
.work_box > div p span {
  font-size: 1.4em;
}
.work_box dl, .coffee dl, .work_rd dl {
  padding: 2% 7%;
}
.work_box dt, .coffee dt, .work_rd dt {
  float: left;
}
.work_box dd, .coffee dd, .work_rd dd {
  margin-left: 16%;
}
.works_web_bottom {
  display: none;
}
.fo_color {
  color: #b8b683;
}
/*-----実際のサイトをみる-----*/
.btn-site {
  display: inline-block;
  padding: 2% 5%;
  text-decoration: none;
  color: #000;
  border: dashed 1px #b8b683;
  background: #fff;
  border-radius: 3px;
  transition: .4s;
  margin-left: 7%;
}
.btn-site:hover {
  background: #b8b683;
  color: #FFF;
}
/*-----左右bottom-----*/
.web_bottom_left {
  position: fixed;
  top: 400px;
  left: 0;
}
.web_bottom_right {
  position: fixed;
  top: 400px;
  right: 0;
}
.right_parts {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 100px;
  border-radius: 100% 0 0 100% / 50%;
  background: #b8b683;
}
.right_parts p {
  position: absolute;
  top: -10px;
  right: 5px;
  color: #000;
  font-size: 2em;
}
.left_parts {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 100px;
  border-radius: 0 100% 100% 0 / 50%;
  background: #b8b683;
}
.left_parts p {
  position: absolute;
  top: -10px;
  left: 5px;
  color: #000;
  font-size: 2em;
}
/*-----flow-----*/
.work_flow {
  margin: 0 auto;
}
.work_flow h5 {
  width: 15%;
  margin: 0 auto;
  font-size: 2.0em;
  font-family: 'p22-flw-exhibition', sans-serif;
  font-weight: 1000;
  border-bottom: double 8px #1B7330;
}
.overview {
  border: 3px solid #b8b683;
  box-sizing: border-box;
  padding: 4%;
}
.overview span {
  font-size: 1.4em;
  font-weight: 300;
}
.work_flow > div:first-child {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 8% 0 5%;
}
.work_flow > div:last-child {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.flowimg p {
  padding-bottom: 6%;
}
.flowimg {
  width: 50%;
  text-align: center;
}
.flowp {
  width: 50%;
}
.flowp > p {
  padding-bottom: 6%;
}
/*ここからランディングページ*/
.work_rd h5 {
  width: 15%;
  margin: 0 auto;
  font-size: 2.0em;
  font-family: 'p22-flw-exhibition', sans-serif;
  font-weight: 1000;
  border-bottom: double 8px #1B7330;
}
.work_rd > div:first-child {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 1% 0 5%;
}
.work_rd > div:last-child {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.rd {
  background-color: #e2dfa2;
  padding: 3% 2% 3% 5%;
  margin-bottom: 15%;
}
.btn {
  display: block;
  cursor: pointer;
  max-width: 300px;
  margin: 0.5em auto;
  padding: 7%;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000;
  text-align: center;
  text-decoration: inherit;
  background: #279b50;
  box-shadow: 0 6px 0 #1b8a74, 0 12px 0 rgba(0, 0, 0, .2);
  transition: color .3s, background .3s, box-shadow .3s, transform 0.3s;
}
.btn:hover {
  background: #37bb74;
  box-shadow: 0 3px 0 #1b8a65, 0 6px 0 rgba(0, 0, 0, .2);
  transform: translateY(3px);
}
.btn:active {
  color: #ddd;
  background: #37bb74;
  box-shadow: 0 0 0 #1b8a65, 0 0 0 rgba(0, 0, 0, .2);
  transform: translateY(6px);
  transition-duration: .1s;
}
.btn3 {
  padding: 1%;
}
/*****************************/
/*レスポンシブ960px未満*/
/*****************************/
@media screen and (max-width: 959px) {
  * {
    float: none;
    position: static;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  body {
    font-size: 1.2em;
    /*    background-color: orange;*/
  }
  .mainvisual {
    background-image: url("../image/logoset2.png");
  }
  .work > p {
    font-size: 1.4em;
    border-bottom: double 6px #1B7330;
    width: 20%;
  }
  .work {
    width: 90%;
  }
  .pp {
    display: flex;
    flex-wrap: wrap;
  }
  .pp div {
    width: 100%;
    margin-bottom: 2%;
  }
  footer {
    font-size: 0.8em;
  }
  footer nav {
    width: 40%;
    right: 4%;
  }
  /******about960******/
  .skill {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .skill div {
    width: 25%;
  }
  .skill div img {
    width: 70%;
  }
  .abmain section:nth-child(n+2) h4 {
    width: 15%;
  }
  .abmain section:last-child p {
    width: 60%;
  }
  /******contact960******/
  .contact h3 {
    padding-top: 30%;
  }
  /******ロゴ有header960******/
  .logoheader h2 img {
    width: 30%;
  }
  .logoheader nav {
    width: 60%;
  }
  /******work960******/
  .work_box {
    display: block;
  }
  .work_box > div p span {
    font-size: 1.2em;
  }
  .work_box h5 {
    width: 90%;
    margin: 0 auto;
  }
  .work_box div {
    width: 60%;
    margin: 0 auto;
  }
  .work_box dl {
    padding: 2% 0;
  }
  .btn-site {
    margin-left: 34%;
  }
  .work_flow > div:last-child {
    display: block;
  }
  .flowimg {
    width: 80%;
    margin: 0 auto;
  }
  .flowp {
    width: 65%;
    margin: 0 auto;
  }
  .btn {
    margin: 5em auto;
  }
  /******workランディング960******/
  .rd {
    padding: 2%;
  }
  /******workcochicoffee960******/
  .cc {
    width: 100%;
  }
  /*-----[左右bottom]-----*/
  .web_bottom_left {
    top: 400px;
  }
  .web_bottom_right {
    top: 400px;
  }
  .right_parts {
    width: 30px;
    height: 60px;
  }
  .right_parts p {
    top: 0px;
    font-size: 1.5em;
  }
  .left_parts {
    width: 30px;
    height: 60px;
  }
  .left_parts p {
    top: 0px;
    font-size: 1.5em;
  }
}
/*****************************/
/*レスポンシブ560px未満*/
/*****************************/
@media screen and (max-width: 559px) {
  body {
    /*    background: yellow;*/
    font-size: 0.9em;
  }
  .work > p {
    border-bottom: double 4px #1B7330;
  }
  footer nav {
    right: 7%;
  }
  #pageTop a {
    width: 25px;
    height: 25px;
  }
  #pageTop i {
    padding-top: 5px;
  }
  /******about560******/
  .skill div {
    width: 50%;
  }
  .skill div img {
    width: 60%;
  }
  .abmain {
    position: relative;
  }
  .abmain section:nth-child(3) > p {
    position: absolute;
    bottom: 14%;
    right: 11%;
  }
  .abmain section:nth-child(n+2) h4 {
    width: 20%;
  }
  .abmain section:last-child p {
    width: 80%;
  }
  /******contact560******/
  .contact h3 {
    padding-top: 45%;
  }
  /******workr560******/
  .work_info h4 {
    padding: 20% 0 0;
  }
  .work_box div {
    width: 70%;
    margin: 0 auto;
  }
  .btn-site {
    margin-left: 30%;
  }
  .work_flow h5 {
    width: 20%;
  }
  .work_flow > div:first-child {
    width: 90%;
  }
  .flowp {
    width: 80%;
    margin: 0 auto;
  }
  .btn {
    max-width: 200px;
  }
  /*-----[左右bottom]-----*/
  .web_bottom_left {
    top: 330px;
  }
  .web_bottom_right {
    top: 330px;
  }
  .right_parts {
    width: 20px;
    height: 40px;
  }
  .right_parts p {
    top: 0px;
    font-size: 1em;
  }
  .left_parts {
    width: 20px;
    height: 40px;
  }
  .left_parts p {
    top: 0px;
    font-size: 1em;
  }
}
/*****************************/
/*ここからabout*/
/*****************************/